{% block media_video %}
	{% if ( fields ) %}
	<section class="section-media-block">
		<div class="ct-container">
			{% if ( fields.title ) %}
				<h2>{{ fields.title }}</h2>
			{% endif %}
			{% if fields.embed_html %}
				{{ fields.embed_html | raw }}
			{% endif %}
		</div>
	</section>
	{% endif %}
{% endblock %}
