{% block media_video %}
	{% if ( fields ) %}
		<section class="section-post-content ct-container">
			{% if ( fields.title ) %}
				<h2>{{ fields.title }}</h2>
			{% endif %}
			{% if ( fields.description ) %}
				<div><p>{{ fields.description|e('wp_kses_post')|raw }}</p></div>
			{% endif %}
			<div class="{{ fields.type }}-embed">
				{% if fields.embed_html %}
					{{ fields.embed_html | raw }}
				{% else %}
					<p>Failed to embed media.</p>
				{% endif %}
			</div>
		</section>
	{% endif %}
{% endblock %}
