.card-mini {
  width: 90%;
  max-width: 280px;

  // @include greaterThan('sm') {
  //   width: 215px;
  // }

  // @include greaterThan('lg') {
  //   width: 280px;
  // }

  h4 {
    @include title-big;
    color: #5f5f5f;
    margin: 10px 0;

    @include greaterThan('sm') {
      margin-top: 0;
      margin-bottom: 14px;
    }

    &.title {
      font-weight: normal;
      font-size: 18px;
      color: #000000;
    }

    &.data {
      @include title-text;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      margin: 8px 0;
      @include greaterThan('sm') {
        margin-top: 0;
        margin-bottom: 12px;
      }
      i {
        font-style: normal;
        margin-bottom: -5px;
      }
    }
  }

  p,
  .thumbnail,
  .meta-box,
  .mini-tip {
    margin: 8px 0 0;
  }

  > p:first-child {
    margin-top: 14px;

    @include greaterThan('sm') {
      margin-top: 18px;
    }
  }

  &.mini-update p {
    @include title-text;
  }

  &.mini-launcher {
    text-align: center;
    margin-top: 10px;
  }

  .thumbnail {
    padding-top: 50%;
  }

  &:hover .thumbnail {
    @include hover-thumbnail;
  }

  @include greaterThan('sm') {
    .meta-box:first-child {
      font-size: 16px;
    }

    .thumbnail + .meta-box {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &.has-profile,
  &.has-tip {
    width: auto;
    max-width: 260px;
  }

  .profile {
    @include profile;
  }
}

a.card-mini {
  @include link-as-block;
}
