.donation-form {
  @include card;
  max-width: 400px;
  background: white;

  .tab-bar {
    height: 47px;
    background-color: #dddddd;
    display: flex;

    .tab-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      color: #898b92;

      &.is-active {
        background-color: white;
      }
    }
  }

  form {
    padding: 25px;

    p {
      margin: 30px 0;
      text-align: center;
    }
  }

  .form-group {
    margin-bottom: 15px;
  }

  .button {
    margin: 0;
  }
}

.dollar-handles {
  display: none;
  margin: 0 -15px 10px;
  justify-content: space-between;

  &.is-active {
    display: flex;
  }

  @include greaterThan('sm') {
    margin: 0 -3px 10px;
  }
}

[class^='paragraph-handles__'],
[class*=' paragraph-handles__'] {
  display: none;
  min-height: 48px;

  &.is-active {
    display: block;
  }
}

.dollar-handle {
  @include card;
  position: relative;
  height: 135px;
  width: 105px;
  margin: 0 3px;

  @include greaterThan('sm') {
    height: 150px;
  }

  label,
  input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  input[type='radio'] {
    opacity: 0.011;
    z-index: 100;
  }

  label {
    margin-bottom: 0 !important;
    font-weight: normal;
    background-size: cover;
    background-position: center;
    border-bottom: 45px solid white;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.2s;

    &:hover {
      opacity: 1;
    }

    span {
      display: block;
      position: absolute;
      bottom: -45px;
      left: 0;
      right: 0;
      height: 45px;
      font-size: 16px;
      line-height: 45px;
      text-align: center;
    }

    @include greaterThan('sm') {
      font-size: 18px;
    }
  }

  input[type='radio']:focus + label {
    opacity: 1;
  }

  input[type='radio']:checked + label {
    opacity: 1;
    border-bottom-color: $color-orange;
    color: white;
  }
}