.big-carousel-description {
  margin-bottom: 20px;

  @include greaterThan('sm') {
    position: absolute;
    width: 250px;
    padding-top: 20px;
  }

  .swiper-pagination {
    position: relative;
  }
}

@include greaterThan('sm') {
  .big-carousel-clip {
    margin-left: 270px;
    padding-left: 20px;
    overflow: hidden;
  }
}

@supports (clip-path: inset(-100vw -100vw -100vw 0)) {
  @include greaterThan('sm') {
    .big-carousel-clip {
      overflow: visible;
      clip-path: inset(-100vw -100vw -100vw 0);
    }
  }
}

.swiper-container {
  overflow: visible;
  padding-top: 15px;
  padding-bottom: 15px;
  // For debug purposes:
  // transform: scale(0.1);
  // transform-origin: left top;

  .swiper-slide.first {
    display: none;

    @include greaterThan('sm') {
      display: block;
      width: 250px;
    }
  }

  .lds-spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    margin-top: -32px;
    margin-left: -32px;
    transform: scale(0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 140ms linear, visibility 0s linear 140ms;

    @include greaterThan('sm') {
      transform: scale(1);
    }
  }

  .swiper-wrapper {
    height: auto;
  }

  .swiper-slide {
    box-sizing: border-box;
  }

  .swiper-slide,
  .swiper-pagination,
  [class^='swiper-button-'] {
    transition: opacity 140ms linear, filter 140ms linear;
  }

  &.is-loading {
    .swiper-wrapper {
      pointer-events: none;
      cursor: default;
    }

    .swiper-slide,
    .swiper-pagination,
    [class^='swiper-button-'] {
      opacity: 0.3;
      filter: saturate(50%);
      pointer-events: none;
      cursor: default;
    }

    .lds-spinner {
      opacity: 1;
      visibility: visible;
      transition: opacity 140ms linear, visibility 0s linear 0s;
    }
  }
}

@include lessThan('sm') {
  .swiper-pagination,
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.dark {
  // @include font-smoothing;

  .big-carousel-description {
    color: white;
  }
}
