// B Version
.b-version-homepage .header { //// .header {
  &,
  &__column--menu {
    top: 0;
  }
  &__column--menu {
    @include lessThan('lg') {
      height: 100%;
    }
  }
  .menu__container {
    @include greaterThan('lg') {
      top: 93 - 32px;
    }
  }
}
.sticky-button-enabled.b-version-homepage .header { //// .sticky-button-enabled .header {
  &__column--menu {
    @include lessThan('lg') {
      height: calc(100% - 64px);
    }
    @include lessThan('sm') {
      height: calc(100% - 48px);
    }
  }
}
.admin-bar.b-version-homepage .header { //// .admin-bar .header {
  &,
  &__column--menu {
    top: 32px;
    @media only screen and (max-width: 782px) {
      top: 46px;
    }
    @media only screen and (max-width: 600px) {
      top: 0;
    }
  }
  &__column--menu {
    @include lessThan('lg') {
      height: calc(100% - 32px);
    }
    @media only screen and (max-width: 782px) {
      height: calc(100% - 46px);
    }
    @media only screen and (max-width: 600px) {
      height: 100%;
    }
  }
  .menu__container {
    @include greaterThan('lg') {
      top: 93px;
    }
  }
}
.sticky-button-enabled.admin-bar.b-version-homepage .header { //// .sticky-button-enabled.admin-bar .header {
  &__column--menu {
    @include lessThan('lg') {
      height: calc(100% - 32px - 64px);
    }
    @include lessThan('sm') {
      height: calc(100% - 32px - 48px);
    }
    @media only screen and (max-width: 782px) {
      height: calc(100% - 46px - 48px);
    }
    @media only screen and (max-width: 600px) {
      height: calc(100% - 48px);
    }
  }
}

.b-version-homepage .header { //// .header {
  // @include line-height-version-b;
  letter-spacing: 0.78px;
  background-color: $color-green;
  position: sticky;
  left: 0;
  width: 100%;
  height: 86 - 24px;
  z-index: 99;
  @include greaterThan('sm') {
    height: 100px;
  }
  @include greaterThan('lg') {
    height: 86 - 24px;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  a {
    text-decoration: none;
    border: none;
    transition: color .3s, background-color .3s;
  }

  .issue {
    margin-right: 0.5em;
  }

  .ct-container {
    @include greaterThan('lg') {
      // max-width: 1240px;
    }
  }

  .ct-container,
  .header__inner {
    height: 100%;
  }

  .hide-lt-lg {
    @include lessThan('lg') {
      display: none;
    }
  } 
  .hide-lt-sm {
    @include lessThan('sm') {
      display: none;
    }
  }
  .hide-gt-sm {
    @include greaterThan('sm') {
      display: none;
    }
  }
  .hide-gt-lg {
    @include greaterThan('lg') {
      display: none;
    }
  }

  &__inner {
    display: flex;
    // justify-content: space-around;
    align-items: center;
    width: 100%;
    @include lessThan('sm') {
      // padding-top: 24px;
    }
  }
  &__column {
    &--mobile-menu {

    }
    &--logo {
      @include lessThan('lg') {
        flex: 1;
      }
      img {
        margin-top: 25 + 3px;
        margin-bottom: 20px;
        height: 18px;
        @include greaterThan('sm') {
          height: 30px;
        }
        @include greaterThan('lg') {
          height: 22px;
        }
      }
    }
    &--menu {
      display: flex;
      flex: 1;
      @include lessThan('lg') {
        position: fixed;
        left: 0;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 200ms linear, visibility 0ms linear 240ms;
        background-color: rgba(0, 0, 0, 0.7);
        .menu__outer {
          transition: transform 140ms ease-in-out;
          transform: translateX(-20px);
        }
      }
    }
    &--actived {
      @include lessThan('lg') {
        visibility: visible;
        opacity: 1;
        transition: opacity 200ms linear, visibility 0ms linear 0ms;
        .menu__outer {
          transform: translateX(0);
        }
      }
    }
    &--tools {
      .header__link {
        padding: 0;
        margin-left: 10px;
      }
      .button {
        padding-right: 20px;
        padding-left: 20px;
        line-height: 33px;
        height: 34px;
        @include greaterThan('sm') {
          line-height: 49px;
          height: 50px;
        }
        @include greaterThan('lg') {
          padding-right: 25px;
          padding-left: 25px;
          line-height: 39px;
          height: 40px;
        }
      }
    }
  }
  &__link {
    font-size: 16px;
    color: #4C4C4C;
    display: inline-block;
    padding: 0 10px;
    @include lessThan('lg') {
      display: block;
      width: 100%;
      line-height: 44px;
      padding: 0 0;
    }
    @include greaterThan('lg') {
      line-height: 60px;
      font-size: 16px;
      color: rgba(white, .8);
    }
    &--mobile-menu {
      border: none;
      background: transparent;
      cursor: pointer;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: content-box;
      width: 18px;
      height: 16px;
      padding: 23px 20px;
      padding-left: 30px;
      position: relative;
      @include lessThan('lg') {
        margin-left: -20px;
      }
      @include greaterThan('sm') {
        width: 26px;
        height: 26px;
        padding-top: 37px;
        padding-bottom: 37px;
        padding-left: 48px;
      }
      span,
      &:before,
      &:after {
        position: absolute;
        display: block;
        content: '';
        width: 18px;
        height: 2px;
        left: 30px;
        @include greaterThan('sm') {
          width: 26px;
          height: 3px;
          left: 48px;
        }
        background-color: white;
      }
      span {
        top: 23 + 7px;
        @include greaterThan('sm') {
          top: 37 + 11px;
        }
      }
      &:before {
        top: 23px;
        @include greaterThan('sm') {
          top: 37px;
        }
      }
      &:after {
        top: 23 + 2 * 7px;
        @include greaterThan('sm') {
          top: 37 + 2 * 11px;
        }
      }
    }
    &--search {
      border: none;
      background: transparent;
      cursor: pointer;
      height: 60px;
      vertical-align: -0.25em;
      &:after {
        content: '';
        display: block;
        background: url(../images/search-icon.svg) no-repeat center;
        background-size: contain;
        width: 20px;
        height: 20px;
      }
      @include lessThan('lg') {
        display: inline-block;
        width: auto;
        padding-left: 30px !important;
        padding-right: 48px !important;
        margin-right: -20px;
      }
    }
  }
  /* &__link:hover,
  &__link:focus,
  &__link:active, */
  .header__column--tools .header__link,
  .menu__item.actived .header__link {
    @include greaterThan('lg') {
      color: white;
    }
  }

  .menu {
    &--logo {
      img {
        height: 20px;
        @include greaterThan('sm') {
          height: 25px;
        }
      }
      @include lessThan('lg') {
        margin-bottom: 40px;
      }
      @include lessThan('sm') {
        margin-bottom: 20px;
      }
    }
    &--search {
      transition: height .3s;
      height: 0;
      overflow: hidden;
      &.actived {
        height: 66px;
      }
      form {
        margin-bottom: 20px;
        margin-right: 60px;
        position: relative;
      }
      button {
        position: absolute;
        border: none;
        background-color: transparent;
        width: 50px;
        height: 40px;
        right: 0;
        bottom: 2px;
        &:after {
          content: '';
          display: block;
          background: url(../images/search-icon.svg) no-repeat center;
          background-size: contain;
          width: 20px;
          height: 20px;
          filter: invert(1);
          margin: auto;
        }
      }
      input {
        &,
        &:focus {
          border: none;
          background-color: transparent;
          border-radius: 0;
          box-shadow: none;
          border-bottom: 2px solid #4C4C4C;
          padding-left: 0;
          padding-right: 50px;
        }
      }
    }
    &--primary {
      flex: 1;
      display: flex;
      @include lessThan('lg') {
        flex-direction: column;
        padding-right: 120px;
        overflow-y: auto;
        overflow-x: hidden;
      }
      @include lessThan('sm') {
        padding-right: 70px;
      }
      @include greaterThan('lg') {
        flex: 1;
        justify-content: space-evenly;
      }
    }
    &--secondary {
      border-top: 2px solid #979797;
      // margin-right: 86px;
      margin-right: 70px;
      margin-top: 15px;
      padding-top: 15px;
      @include greaterThan('sm') {
        margin-right: 100px;
      }
    }
    ul {
      li {
        
      }
      a {
        // line-height: 2;
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
        color: #303030;
        font-size: 16px;
        &:hover,
        &:focus,
        &:active {
          // font-weight: 500;
          color: #67CC02;
        }
        @include greaterThan('lg') {
          font-size: 15px;
        }
      }
    }
    .has-children {
      ul a {
        color: rgba(#4C4C4C, .6);
        @include greaterThan('lg') {
          color: rgba(#303030, .45);
        }
      }
      ul > .menu-item.actived > a {
        color: #4C4C4C;
        @include greaterThan('lg') {
          color: #303030;
        }
      }
      ul .sub-menu a {
        color: #4C4C4C;
        @include greaterThan('lg') {
          color: #303030;
        }
        &:hover,
        &:focus,
        &:active {
          color: #67CC02;
          @include greaterThan('lg') {
            color: #FF8100;
          }
        }
      }
    }
    .is-issues {
      .menu__inner3:before {
        display: block;
        // line-height: 2;
        padding-top: 5px;
        padding-bottom: 5px;
        // margin-bottom: 5px;
        color: #67CC02;
        font-size: 16px;
        @include greaterThan('lg') {
          font-size: 15px;
        }
      }
      .menu__inner3--real:before {
        content: attr(data-label);
      }
      .menu__inner3--fake:before {
        content: attr(data-label);
        margin-left: -30px;
        padding-left: 30px;
        background-color: white;
      }
    }
    .is-counter {
      counter-reset: menu;
      .menu__inner3--real > .menu-item > a:before {
        counter-increment: menu; 
        content: counter(menu);
        margin-right: 0.75em;
      }
    }
    &__container {
      display: none;
      left: 0;
      @include greaterThan('lg') {
        position: fixed;
      }
    }
    &__close-button,
    &__search-button {
      position: absolute;
      top: 27px;
      right: 10px;
      margin: 0;
      padding: 10px;
      border: none;
      background: transparent;
      font-size: 30px;
      z-index: 4;
      cursor: pointer;
    }
    &__close-button {
      right: 10px;
    }
    &__search-button {
      transition: opacity .3s;
      &.hidden {
        pointer-events: none;
        opacity: 0;
      }
      right: 50px;
      width: 50px;
      height: 64px;
      &:after {
        content: '';
        display: block;
        background: url(../images/search-icon.svg) no-repeat center;
        background-size: contain;
        width: 20px;
        height: 20px;
        filter: invert(1);
        margin: auto;
      }
    }
    &__outer {
      @include lessThan('lg') {
        background-color: #FAFAFA;
        padding-left: 70px;
        box-shadow: 2px 3px 15px 0px rgba(170,170,170,0.49);
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
      }
      @include lessThan('sm') {
        width: 100%;
        max-width: 500px;
        margin-right: 18px;
        padding-left: 40px;
      }
      @include greaterThan('sm') {
        width: 500px;
      }
      @include greaterThan('lg') {
        flex: 1;
        width: auto;
      }
    }
    &__inner {
      @include greaterThan('lg') {
        display: flex;
        margin-top: 20px;
      }
    }
    &__inner3--fake {
      border-left: 1px solid $color-green;
      padding-left: 18px;
      margin-left: 30px;
    }
    &__item {
      position: relative;
      @include greaterThan('lg') {
        &:first-child {
          margin-left: 10px;
        }
      }
      &.actived {
        .menu__container {
          display: block;
        }
        > .header__link {
          @include lessThan('lg') {
            border-bottom: 2px solid #4C4C4C;
            margin-bottom: 10px;
          }
        }
      }
    }

  }

  .menu__container {
    @include greaterThan('lg') {
      margin-right: calc(50% - 600px);
      .menu__inner {
        min-width: 160px;
        background-color: white;
        border-radius: 8px;
        padding: 10px 25px 0;
        box-shadow: 0px 2px 12px 0px #767676;
      }
      .menu__inner3--real {
        flex: 1 0 auto;
      }
      .menu__inner3--fake {
        // flex: 0 0 auto;
      }
    }
    @include lessThan('lg') {
      &.no-children .menu__inner,
      &.has-children .sub-menu {
        background-color: white;
        border-radius: 8px;
        padding: 10px 25px 0;
        box-shadow: 1px 2px 4px 0px rgba(#D7D7D7, .5);
        margin-top: 10px;
        margin-bottom: 10px;
      }
      &.has-children .sub-menu {
        padding-bottom: 10px;
      }
    }
  }

  .menu-item {
    position: relative;
    a {
      white-space: pre-wrap;
    }
    &--fake {
      min-width: 8.5em;
    }
  }
  .sub-menu {
    display: none;
    a {
      @include greaterThan('lg') {
        font-size: 16px;
      }
    }
  }
  li.actived {
    @include lessThan('lg') {
      .sub-menu:not(.sub-menu--fake) {
        display: block;
      }
    }
    @include greaterThan('lg') {
      &:not(.menu-item--fake):after {
        content: '';
        position: absolute;
        right: -36px;
        top: 10px;
        width: 12px;
        height: 12px;
        border: 1px solid $color-green;
        background-color: white;
        border-width: 0 0 1px 1px;
        transform: rotate(45deg);
      }
      .sub-menu:not(.sub-menu--fake) {
        padding-left: 30px;
      }
      .sub-menu--fake {
        display: block;
      }
    }
  }

  @include lessThan('lg') {
    .menu__item,
    .has-children .menu__inner3 > .menu-item {
      > a {
        padding-right: 20px;
      }
      &:after {
        content: '';
        position: absolute;
        right: 2px;
        width: 6px;
        height: 6px;
        border: 2px solid #1F1F1F;
        background-color: white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        pointer-events: none;
        // transition: transform .3s, top .3s;
      }
      &.actived:after {
        transform: rotate(225deg);
      }
    }
    .menu__item {
      &:after {
        top: 18px;
      }
      &.actived:after {
        top: 18 + 3px;
      }
      &--no-children {
        &:after {
          display: none;
        }
      }
    }
    .has-children .menu__inner3 > .menu-item {
      &:after {
        top: 18 - 6px;
      }
      &.actived:after {
        top: 18 + 3 - 6px;
      }
    }
  }

  .menu__inner {
    flex-direction: column;
    overflow: hidden;
  }
  .sub-menu {
    overflow: hidden;
  }
  .menu__inner2 {
    display: flex;
    margin-bottom: 10px;
  }
  .menu__inner3 {
    @include lessThan('lg') {
      width: 100%;
    }
  }

  &__cta {
    // display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-orange;
    margin-left: -25px;
    margin-right: -25px;
    line-height: 43 - 1px;
    height: 43px;
    text-align: center;
    color: white;
    font-size: 16px;
    // font-weight: 500;
    padding-right: 20px;
    padding-left: 20px;
    @include greaterThan('lg') {
      line-height: 56 - 1px;
      height: 56px;
      font-size: 18px;
    }
    &:hover,
    &:focus {
      background-color: $color-orange-hover;
    }
    &:active {
      background-color: $color-orange-active;
    }
    .icon {
      display: block;
      background: no-repeat center;
      background-size: contain;
      width: 30px;
      height: 18px;
      @include greaterThan('lg') {
        width: 48px;
        height: 28px;
      }
    }
    .title {
      margin-left: 0.5em;
    }
    .arrow {
      margin-left: 0.5em;
      position: relative;
      width: 12px;
      &:before,
      &:after,
      span {
        display: block;
        content: '';
        background-color: white;
        width: 12px;
        height: 2px;
        position: absolute;
      }
      &:before,
      &:after {
        width: 9px;
      }
      &:before {
        transform: rotate(45deg);
        top: -3px;
        right: -3px;
      }
      &:after {
        transform: rotate(-45deg);
        top: 3px;
        right: -3px;
      }
      span {
        right: 0;
      }
    }
  }
  @include lessThan('lg') {
    .header__cta {
      white-space: normal;
      padding-top: 0;
      padding-bottom: 0;
      .arrow {
        display: none;
      }
    }
    .has-children .header__cta {
      border-radius: 8px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 10px;
    }
    .no-children .header__cta {

    }
  }
}

// Old Version
.header--old {
  display: none;
  position: relative;
  height: 50px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  background-color: $color-green;
  color: white;
  // display: flex;
  align-items: center;
  z-index: 4;

  @include greaterThan('sm') {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
  }

  p {
    margin-bottom: 0;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mobile-box {
      display: none;

      a {
        color: white;
        font-size: 24px;
        text-decoration: none;
      }
    }

    .left-box {
      display: flex;
      align-items: center;

      .logo {
        text-decoration: none !important;
        margin-top: 5px;
        margin-right: 15px;
      }

      .logo-greenpeace {
        display: inline-block;
        height: 20px;
        width: 185px;
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
      }

      .dropdown {
        position: relative;

        button {
          height: 43px;
          background-color: transparent;
          border: none;
          // outline: none;
          display: flex;
          align-items: center;
          color: white;
          cursor: pointer;

          p {
            font-size: 14px;
            font-weight: bold;
            white-space: nowrap;
          }

          span {
            font-size: 22px;
            margin-left: -2px;
          }
        }

        .dropdown-menu {
          display: none;
          position: absolute;
          left: -180px;
          width: 300px;
          max-height: 80vh;
          background-color: white;
          border-radius: 3px;
          box-shadow: 0 0 9px 3px rgba(128, 128, 128, 0.28);
          flex-direction: column;
          padding: 10px 20px;

          @include greaterThan('sm') {
            left: -185px;
            width: 900px;
          }

          a {
            text-decoration: none;
            color: $color-blue;
            margin-bottom: 5px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &.is-open .dropdown-menu {
          display: flex;
        }
      }
    }

    .center-box {
      flex-grow: 1;
      margin-left: 55px;

      .menu {
        display: flex;
        height: 50px;
        margin: 0;
        padding: 0;
        list-style: none;

        .item {
          margin-right: 50px;

          &:last-child {
            margin-right: 0;
          }

          a {
            display: flex;
            height: 100%;
            padding-left: 5px;
            padding-right: 5px;
            align-items: center;
            color: white;
            text-decoration: none;
            transition: 0.2s;

            &:hover {
              color: darken(white, 5%);
            }

            span {
              font-size: 36px;
              margin-right: 10px;
              background-repeat: no-repeat;
              background-position: center;
              width: 36px;
              height: 36px;
              display: inline-block;
            }
          }

          &.active a {
            border-bottom: 4px solid white;
          }

          &.item__latest-news a span {
            background-image: url('../images/icons/Earth.svg');
          }
          &.item__latest-news.active a span {
            background-image: url('../images/icons/Earth-fill.svg');
          }

          &.item__home {
            display: none;
          }

          &.item__make-change a span {
            background-image: url('../images/icons/Act.svg');
          }
          &.item__make-change.active a span {
            background-image: url('../images/icons/Act-fill.svg');
          }
        }
      }
    }

    .right-box {
      display: flex;
      align-items: center;

      .search-button {
        color: white;
        font-size: 25px;
        margin-right: 18px;
        text-decoration: none;
      }

      .button {
        background: $color-orange;
        color: white;
        white-space: nowrap;
        height: auto;

        &:hover,
        &:focus {
          background-color: darken($color-orange, 4%);
        }
      }
    }
  }
}

.header--old .mobile-toolbar {
  display: none;
  height: 48px;
  background-color: white;
  box-shadow: 0 10px 10px -10px inset rgba(0, 0, 0, 0.4);
  justify-content: center;

  p {
    margin-bottom: 0;
  }

  a {
    display: flex;
    color: $color-grey;
    text-decoration: none;
    align-items: center;
    border-bottom: none !important;

    &.active {
      color: $color-green;
    }

    span {
      font-size: 26px;
      background-repeat: no-repeat;
      background-position: center;
      width: 26px;
      height: 26px;
      display: inline-block;
    }

    &:nth-child(1) {
      span {
        margin-left: 7px;
      }
    }

    &:nth-child(2) {
      margin: 0 25px;
      color: $color-green;
    }

    &:nth-child(3) {
      span {
        margin-right: 7px;
      }
    }

    &.item__latest-news span {
      background-image: url('../images/icons/Earth-mobile.svg');
    }
    &.item__latest-news.active span {
      background-image: url('../images/icons/Earth-fill-mobile.svg');
    }

    &.item__home {
      span {
        background-image: url('../images/icons/Home-mobile.svg');
      }
    }
    &.item__home.active span {
      background-image: url('../images/icons/Home-fill-mobile.svg');
    }

    &.item__make-change span {
      background-image: url('../images/icons/Act-mobile.svg');
    }
    &.item__make-change.active span {
      background-image: url('../images/icons/Act-fill-mobile.svg');
    }
  }
}

@include lessThan('sm') {
  body.old-version-homepage {
    padding-top: 96px;
  }

  .old-version-homepage .header--old {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 96px;
    transform: translateY(0);
    transition: transform 350ms ease;
    will-change: transform;

    > .ct-container {
      height: 50px;
    }

    .content {
      // justify-content: flex-start;

      .mobile-box {
        display: block;
      }

      .left-box {
        .logo {
          margin-left: 5px;
          margin-right: 0;
        }

        .logo-greenpeace {
          height: 16px;
          width: 148px;

          @media only screen and (min-width: 400px) {
            margin-left: 10px;
            margin-right: 10px;
          }
        }

        .dropdown {
          button {
            p {
              font-size: 10px;
              font-weight: normal;
              letter-spacing: 0px;
            }
          }
        }
      }

      .center-box {
        display: none;
      }

      .right-box {
        // margin-left: auto;

        .search-button {
          display: none;
        }

        .button {
          padding: 2px 12px;
        }
      }
    }
  }

  .mobile-toolbar {
    display: flex;
  }

  .is-scrolling-down .header--old {
    height: 48px;
    transition: height 500ms ease 200ms;

    .mobile-toolbar {
      height: 0;
      transition: height 500ms ease 200ms;
      overflow: hidden;
    }
  }
}

body.old-version-homepage {
  .header--old {
    display: flex;
    @include lessThan('sm') {
      display: block;
    }
    .mobile-toolbar {
      @include lessThan('sm') {
        display: flex;
      }
    }
  }
  .header--new {
    display: none;
  }
}