.maxi-swiper {
  .swiper-slide {
    width: 90%;
    margin-right: 6%;

    &:last-child {
      margin-right: 0;
    }

    @include greaterThan('sm') {
      width: 80%;
      margin-right: 60px;
    }
  }

  &-tips .swiper-slide {
    width: 80vw;
    max-width: 300px;

    @include greaterThan('sm') {
      width: auto;
      max-width: none;
      margin: 0 20px;
    }
  }

  &-centered {
    .swiper-slide {
      margin: 0 3%;
    }

    @include greaterThan('sm') {
      padding-top: 30px;
      padding-bottom: 30px;

      .swiper-slide {
        width: 80%;
        margin: 0 90px;
      }

      .swiper-pagination {
        top: 5px;
        justify-content: center;
      }
    }
  }
}

.label-swiper {
  height: 20px;

  .label-slide {
    width: 90px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    transition: all 140ms ease;

    &.swiper-slide-active {
      font-size: 32px;
      font-weight: bold;
      line-height: 0.63;
      position: relative;
      top: -3px;
    }
  }
}
