.mini-swiper {
  padding-top: 15px;
  padding-bottom: 15px;

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    padding-right: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 15px;
    margin-left: 0;
    height: auto;

    @include greaterThan('sm') {
      padding-right: 20px;
      margin-right: 20px;
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
      margin-right: 0;
    }

    &.has-profile {
      border-right: none;
    }
  }
}
