.project-large {
  @include link-as-block;
  position: relative;
  height: 400px;

  @include lessThan('sm') {
    overflow: hidden;
  }

  @include greaterThan('sm') {
    width: 55%;
    overflow: visible;

    .project-large-overflow {
      position: relative;
      height: 400px;
      width: calc(100% + 200px);
      margin-left: -100px;
      overflow: hidden;
    }
  }

  @include greaterThan('lg') {
    width: calc(55% + 100px);
    height: 480px;
    margin-left: -100px;
    overflow: visible;

    .project-large-overflow {
      height: 480px;
    }
  }

  .thumbnail {
    position: absolute;
    width: 540px;
    height: 540px;
    left: 50%;
    margin-left: -270px;
    border-radius: 540px;
    box-shadow: none;

    @include greaterThan('sm') {
      width: 500px;
      height: 500px;
      margin-left: -250px;
    }

    @include greaterThan('sm') {
      width: 540px;
      height: 540px;
      margin-left: -270px;
    }

    @include greaterThan('lg') {
      width: 600px;
      height: 600px;
      margin-left: -300px;
    }
  }

  .project-summary {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;

    @include lessThan('sm') {
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 15%,
        rgba(255, 255, 255, 0) 100%
      );

      .project-summary-details {
        display: none;
      }

      .project-summary-title {
        padding-top: 60px;
        border-bottom: none;
        color: black;
        text-align: left;
      }
    }

    @include greaterThan('sm') {
      padding-bottom: 20px;
      padding-left: 140px;
      padding-right: 140px;

      .project-summary-title span {
        display: none;
      }
    }

    @include greaterThan('lg') {
      padding-left: 240px;
      padding-right: 240px;
    }
  }
}
