[data-aos='fade-left'] {
  transform: translate3d(5%, 0, 0);
}

[data-aos='fade-right'] {
  transform: translate3d(-5%, 0, 0);
}

[data-aos='fade-up'] {
  transform: translate3d(0, 10%, 0);
}

[data-aos='fade-down'] {
  transform: translate3d(0, -10%, 0);
}
