/*
 *  NOTE: @font-face declarations are in hk-fonts.css/kr-fonts.css
 */

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-navigator:before {
  content: '\e91d';
}
.icon-kakaotalk:before {
  content: '\e91c';
  color: #fd0;
}
.icon-youtube:before {
  content: '\e915';
  color: #f00;
}
.icon-instagram:before {
  content: '\e916';
  color: #e4405f;
}
.icon-twitter:before {
  content: '\e917';
  color: #1da1f2;
}
.icon-facebook:before {
  content: '\e918';
  color: #4172b8;
}
.icon-whatsapp:before {
  content: '\e919';
  color: #25d366;
}
.icon-wechat:before {
  content: '\e91a';
  color: #7bb32e;
}
.icon-line:before {
  content: '\e91b';
  color: #00c300;
}
.icon-lock:before {
  content: '\e911';
}
.icon-cc-mastercard:before {
  content: '\e912';
}
.icon-cc-visa:before {
  content: '\e913';
}
.icon-cc-paypal:before {
  content: '\e914';
}
.icon-email:before {
  content: '\e910';
}
.icon-close:before {
  content: '\e90f';
}
.icon-whatsapp-black:before {
  content: '\e900';
}
.icon-play:before {
  content: '\e901';
}
.icon-home:before {
  content: '\e90c';
}
.icon-down-arrow:before {
  content: '\e902';
}
.icon-chevron-right:before {
  content: '\e903';
}
.icon-chevron-left:before {
  content: '\e904';
}
.icon-people:before {
  content: '\e905';
}
.icon-search:before {
  content: '\e906';
}
.icon-clock:before {
  content: '\e907';
}
.icon-facebook-black:before {
  content: '\e908';
}
.icon-globe:before {
  content: '\e909';
}
.icon-instagram-black:before {
  content: '\e90a';
}
.icon-twitter-black:before {
  content: '\e90b';
}
.icon-youtube-black:before {
  content: '\e90d';
}
.icon-greenpeace:before {
  content: '\e90e';
}
