html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  line-height: 1.34;
}

h1,
h2 {
  @include title-big;
  @include margins;
}

h3,
h4 {
  @include title-mid;
  @include margins;
}

h5,
h6,
p,
blockquote,
ul,
ol {
  @include text;
  @include margins;
}

.subtitle {
  @include subtitle;
}

.caption {
  @include caption;
}

.see-more {
  @include see-more;
}

ul,
ol {
  padding-left: 20px;

  @include greaterThan('sm') {
    padding-left: 0;
  }
}

a {
  color: $color-green;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 140ms linear;

  &:hover,
  &:focus {
    border-bottom-color: $color-green;
  }
}

h1,
h2,
h3,
h4 {
  a {
    display: block;
    color: inherit;
    border-bottom: none !important;
    transition: opacity 140ms linear;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

h1,
h2,
h3,
h4 {
  span {
    line-height: inherit !important;
    float: right;
  }
}

hr {
  @include margins;
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

img.lazy {
  opacity: 0;
  transition: opacity 140ms linear;

  &.error,
  &.loaded {
    opacity: 1;
  }
}

@include greaterThan('sm') {
  .mobile-only {
    display: none !important;
  }
}

@include lessThan('sm') {
  .desktop-only {
    display: none !important;
  }
}
