/*
* For donate and support
*/
.js-makechange-follower {
  .leading {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
  }
  .scroll {
    background-color: $color-blue;
    width: 100%;
    white-space: nowrap;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .scroll nav {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .scroll nav {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow-y: hidden;
    height: 100%;
    align-items: center;
    flex-flow: row nowrap;
    scroll-snap-type: x proximity;
  }
  .scroll a {
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
      color: #6c0;
      font-weight: bold;
    }
  }
}
@media (min-width: 576px) {
  .js-makechange-follower .leading {
    font-size: 16px;
  }
}

.is-background-image {
  position: relative;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
