// .page-template-petition header .left-box {
//   margin-left: auto;
//   margin-right: auto;
// }

.page-template-petition,
.page-template-petition-thankyou,
.page-template-donation {
  padding-top: 48px;

  @include greaterThan('sm') {
    min-height: 100vh;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    height: 48px;
    background-color: white;
    color: $color-green;

    .center-box,
    .right-box {
      display: none;
    }

    .content .left-box .logo {
      font-size: 27px;
      color: $color-green;
    }

    .content .left-box .dropdown button {
      color: $color-green;

      p {
        line-height: 1.5;
      }
    }
  }

  //   -.-
  &.admin-bar header {
    top: 32px;
  }

  .mobile-toolbar {
    display: none;
  }

  .mobile-box {
    display: none !important;
  }

  .enform-side-style {
    .enform form .submit .btn#p4en_form_save_button {
      width: 100%;
    }
    button.fb {
      width: 100%;
      height: 40px;
      background-image: url('../images/fb_logo_white.png');
      background-repeat: no-repeat;
      background-size: auto 70%;
      background-position: 4px center;
      @include lessThan('sm') {
        width: 50%;
      }      
    }
  }
  
}

.page-template-petition,
.page-template-donation {
  .outer_block_container {
    @include ct-container;
    padding-top: 0;
    padding-bottom: 0;    

    > :last-child:not(.enform-side-style) {
      margin-bottom: 145px;
    }

    @include greaterThan('sm') {
      > p,
      .wp-caption {
        padding-right: 400px;
      }

      blockquote p {
        @include ct-container;
        padding-right: 440px;
      }

      .embed-container > *,
      .full-width > * {
        max-width: 520px;
        transform: translateX(-200px);
      }

      .wp-caption {
        margin-left: 0;
        margin-right: 0;
      }
    }

    @include greaterThan('lg') {
      > p,
      .wp-caption {
        padding-right: 450px;
      }

      blockquote p {
        @include ct-container;
        padding-right: 490px;
      }

      .embed-container > *,
      .full-width > * {
        max-width: 710px;
        transform: translateX(-225px);
      }
    }
  }
}

.page-template-petition,
.page-template-petition-thankyou {
  .outer_block_container {
    overflow: visible;
  }
  footer {
    padding-top: 0;

    .footer-upper {
      display: none;
    }
    .footer-lower {
      margin-top: 20px;
      padding-bottom: 120px;
      @include greaterThan('sm') {
        padding-bottom: 20px;
      }
    }    
  }

  // footer .bottom-bar {
  //   height: calc(135px + 52px);
  //   padding-bottom: 135px;
  // }
}

@include greaterThan('sm') {
  .page-template-petition-thankyou,
  .page-template-donation {
    header .right-box {
      display: block;
      width: 375px;
    }
  }
}

/* newsletter simple */

.enform-wrap.enform-full-width {
  @include ct-container;
  .enform {
    background: transparent;
    color: #000;
    text-align: center;
    h2 {
      color: #000;
    }
    form .formblock-flex .en__field {
      width: 100%;
    }
    form .submit {
      display: block;
    }
  }
}


// color text, inherited from main category choosen

.page-template-petition {
  .petition-extra-content {
    h1, h2, h3, h4, h5, h6, a {
      color: $color-green;
    }
  }
  
  &.forests {
    .petition-extra-content {
      h1, h2, h3, h4, h5, h6, a {
        color: $color-forests;
      }
    }
  }

  &.oceans {
    .petition-extra-content {
      h1, h2, h3, h4, h5, h6, a {
        color: $color-oceans;
      }
    }
  }

  &.arctic {
    .petition-extra-content {
      h1, h2, h3, h4, h5, h6, a {
        color: $color-arctic;
      }
    }
  }

  &.climate {
    .petition-extra-content {
      h1, h2, h3, h4, h5, h6, a {
        color: $color-climate;
      }
    }
  }

  &.plastics {
    .petition-extra-content {
      h1, h2, h3, h4, h5, h6, a {
        color: $color-plastics;
      }
    }
  }

  &.health {
    .petition-extra-content {
      h1, h2, h3, h4, h5, h6, a {
        color: $color-health;
      }
    }
  }
  
  section.petition-extra-content {
    background: #fff;

    div.petition-extra-content__outer {
      width: 95%;
      margin: 0 auto;
      @include greaterThan('sm') {
        width: calc(100% - 450px);
        margin-left: 0;
      }
    }
    
    .wp-caption {
      max-width: 100% !important;
    }
    img {
      max-width: 100% !important;
      height: auto !important;
      @include greaterThan('sm') {
        max-width: auto;
        height: auto;
      }
    }
  }

}


/* fix to petition form ui */

.page-template-petition {
  .enform-side-style .enform {

    // form .submit-container {
    //   max-width: 480px;
    //   margin: 0 auto;
    // }

    button.fb {
      display: none;
      @include greaterThan('sm') {
        display: inline-block;
      }
    }
    .en__field--emailAddress {
      display: none;
      @include greaterThan('sm') {
        display: block;
      }  
    }

    &.is-open {
      button.fb {
        display: inline-block;
      }
      .en__field--emailAddress {
        display: block;
      }
      div.thankyou {
        .form-group {
          display: block;
        }
        .form-group.social-media {
          display: none;
        }
        header, p {
          display: inline-block;
        }
        .formblock-flex {
          height: auto;
          display: block;
        }
        a.btn.btn-primary.btn-block {
          width: 100%;
        }
      }
    }
    div.thankyou {
      .form-group {
        display: none;
      }
      header, p {
        display: none;
      }
      .formblock-flex {
        display: flex;
        height: auto;
        max-height: none;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
      }
      a.btn.btn-primary.btn-block {
        width: auto;
      }
    }
  }
}