@include greaterThan('sm') {
  .mobile-only {
    display: none !important;
  }
}

@include lessThan('sm') {
  .desktop-only {
    display: none !important;
  }
}

.visuallyhidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
