// Breakpoints
$bs-lg: 1280px;
$bs-sm: 1024px;

// Colors
$color-green: #66CC00;
$color-blue: #292F47;
$color-orange: #FF8100;

$color-light-green: #85D633;

$color-orange-hover: #FFB660;
$color-orange-active: #E96D00;
$color-green-hover: $color-green;
$color-green-active: #478F00;
$color-disabled: #BAB0A6;

$color-grey: #898B92;
$color-grey-100: #F1F3F5;
$color-grey-300: #DEE2E6;
$color-grey-500: #ADB5BD;
$color-grey-700: #495057;
$color-grey-900: #212529;

$color-lightblue: #E6F5F5;
$color-red: #E41E1E;

$color-arctic: #62CBD7;
$color-health: #F09D7F;
$color-climate: #FFBE00;
$color-plastics: #AFAA91;
$color-forests: #00B474;
$color-oceans: #008FE2;

$color-arctic-700: #34c1d1;
$color-health-700: #ed815a;
$color-climate-700: #efa800;
$color-plastics-700: #9b9370;
$color-forests-700: #009560;
$color-oceans-700: #0075ba;

$color-fb: #007AFA;
$color-tw: #1DA1F2;
$color-wa: #25D366;

// Backgrounds
$gradient-smoke: linear-gradient(
  to bottom,
  rgba(238, 238, 238, 0) 0%,
  #EEEEEE 100%
);

$gradient-smoke-inverted: linear-gradient(
  to top,
  rgba(238, 238, 238, 0) 0%,
  #EEEEEE 100%
);
