/*
 * NOTE: Make sure 'Montserrat' and 'icomoon' are declared the same way
 *      in kr-fonts.css as well!!
 */

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?3qsu9h") format("truetype"),
    url("../fonts/icomoon.woff?3qsu9h") format("woff"),
    url("../fonts/icomoon.svg?3qsu9h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body,
button,
.form-caption h1,
.form-caption p,
.enform {
  font-family: "Noto Sans TC", sans-serif;
}

.logo-greenpeace {
  background-image: url("../images/logo_zh.png");
}

@media (max-width: 420px) {
  .logo-greenpeace {
    background-image: url("../images/logo_ko.svg");
    width: 80px !important;
  }
}

.page-template-petition .logo-greenpeace,
.page-template-donation .logo-greenpeace,
.page-template-petition-thankyou .logo-greenpeace {
  background-image: url("../images/logo_zh_green.svg");
}

.tip .tip-actions .tip-action-buttons .social-box a.tip-share-twitter {
  display: none;
}

html:lang(zh-TW)
  .tip
  .tip-actions
  .tip-action-buttons
  .social-box
  a.tip-share-whatsapp {
  display: none;
}
