@font-face {
  font-family: 'Noto Sans TC';
  font-display: swap;
  font-weight: normal;
  src: url('../fonts/Noto_Sans_TC/NotoSansTC-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-display: swap;
  font-weight: bold;
  src: url('../fonts/Noto_Sans_TC/NotoSansTC-Medium.otf') format('opentype');
}

body,
button,
.form-caption h1,
.form-caption p,
.enform {
  font-family: 'Noto Sans TC', sans-serif;
}
