@font-face {
  font-family: 'Noto Sans KR';
  font-display: swap;
  font-weight: normal;
  src: url('../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-display: swap;
  font-weight: bold;
  src: url('../fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('opentype');
}

/*
 * NOTE: Make sure 'Montserrat' and 'icomoon' are declared the same way
 *      in hk-fonts.css as well!!
 */
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf?8pmnit') format('truetype'),
    url('../fonts/icomoon.woff?8pmnit') format('woff'),
    url('../fonts/icomoon.svg?8pmnit#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body,
button,
.form-caption h1,
.form-caption p,
.enform {
  font-family: 'Noto Sans KR', sans-serif;
}

.logo-greenpeace {
  background-image: url('../images/logo_ko.svg');
}

.page-template-petition .logo-greenpeace,
.page-template-donation .logo-greenpeace {
  background-image: url('../images/logo_ko_green.svg');
}

/* Overrides */
.card-issue .image h4 {
  font-size: 22px !important;
  line-height: 27px !important;
}

@media (min-width: 1280px) {
  .card-issue .image h4 {
    font-size: 31px !important;
    line-height: 38px !important;
  }
}

.card-explainer .description {
  padding: 40px 30px;
}

.card-explainer h4 {
  font-size: 30px;
  line-height: 40px;
}

.card-explainer h4,
.card-explainer p {
  text-align: left;
}

.card-explainer p.subtitle {
  letter-spacing: 1px;
}

.card-explainer .description p:not(.subtitle) {
  color: #292f47;
}
