.button,
.enform form button {

  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 5px 10px 0;
  padding: 0 30px;
  height: 30px;
  line-height: 29px;
  color: $color-orange;
  background-color: white;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 1px $color-orange;
  transition: background-color 140ms linear, box-shadow 140ms linear, border-width 140ms linear;
  text-decoration: none;
  cursor: pointer;

  @include greaterThan('sm') {
    font-size: 18px;
    padding: 0 50px;
    height: 40px;
    line-height: 39px;
  }

  &.primary,
  &.btn-primary,
  &.tag.active {
    font-size: 20px;
    padding: 0 40px;
    height: 40px;
    line-height: 39px;
    color: white;
    background: $color-orange;
    box-shadow: none;
    &.wider {
      @include greaterThan('sm') {
        padding: 0 100px;
      }
    }
  }

  &:hover,
  &:focus,
  &.tag.active:hover,
  &.tag.active:focus {
    color: white;
    background-color: $color-orange-hover;
    box-shadow: none;
  }

  &:active,
  &.tag.active:active {
    color: white;
    background-color: $color-orange-active;
    box-shadow: none;
  }

  &.secondary {
    color: $color-green;
    border-radius: 0;
    box-shadow: inset 0px -2px 0px 0px $color-green;
    // border-bottom: 2px solid $color-green;
    &:hover,
    &:focus {
      color: white;
      border-radius: 4px;
      box-shadow: none;
      background-color: $color-green-hover;
    }

    &:active {
      color: white;
      border-radius: 4px;
      box-shadow: none;
      background-color: $color-green-active;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &.fluid {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  &.tag {
    padding: 0 10px !important;
    height: 28px !important;
    font-size: 14px !important;
    line-height: 27px !important;

    @include greaterThan('sm') {
      padding: 0 13px !important;
      height: 38px !important;
      font-size: 16px !important;
      line-height: 37px !important;
    }

  }

  &.grey {
    color: #5f5f5f;
    font-weight: normal;
    &:hover,
    &:focus {
      background-color: darken(white, 2%);
    }
  }

  &.fb {
    // @include font-smoothing;
    color: white;
    background-color: $color-fb;
    &:hover,
    &:focus {
      background-color: darken($color-fb, 5%);
    }
  }

  &.small {
    color: #5f5f5f;
    font-weight: normal;
    padding: 0 15px;
    height: 26px;
    font-size: 13px;
    line-height: 25px;
    @include greaterThan('sm') {
      padding: 0 20px;
      height: 30px;
      font-size: 14px;
      line-height: 29px;
    }
    &:hover,
    &:focus {
      background-color: darken(white, 2%);
    }
  }

  &.loading,
  &[disabled] {
    color: white;
    background-color: $color-disabled;
  }

  &.primary {
    &.loading,
    &[disabled] {
      color: white;
      box-shadow: none;
      background-color: $color-disabled;
    }
  }

  &.loading,
  & .en-spinner {
    position: relative;
    // color: rgba(desaturate($color-orange, 40%), 0.2);

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      width: 22px;
      height: 22px;
      top: 4px;
      left: 50%;
      margin-left: -11px;
      border-radius: 50%;
      border: 3px solid $color-orange;
      border-left-color: transparent;
      border-right-color: transparent;
      animation: lds-dual-ring 0.8s linear infinite;

      @include greaterThan('sm') {
        top: 9px;
      }
    }

    &.primary {
      // color: rgba(white, 0.2);

      &::after,
      & .en-spinner {
        top: 9px;
        border-top-color: white;
        border-bottom-color: white;
      }
    }
  }

  & .en-spinner {
    position: absolute;
    color: transparent;
    top: 11px;
    left: 50%;
    margin-left: -11px;

    @include greaterThan('sm') {
      top: 12px;
    }
  }

  &.primary .en-spinner {
    top: 16px;

    @include greaterThan('sm') {
      top: 12px;
    }

    &::after {
      border-top-color: white;
      border-bottom-color: white;
    }
  }
}

.submit {
  position: relative;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
