.issue,
.section-post-content a.issue:visited {
  &.forests {
    color: $color-forests;
  }
  &.oceans {
    color: $color-oceans;
  }
  &.arctic {
    color: $color-arctic;
  }
  &.climate {
    color: $color-climate;
  }
  &.plastics {
    color: $color-plastics;
  }
  &.health {
    color: $color-health;
  }
}

a.issue:hover,
a.issue:focus {
  &.forests {
    border-bottom-color: $color-forests;
  }
  &.oceans {
    border-bottom-color: $color-oceans;
  }
  &.arctic {
    border-bottom-color: $color-arctic;
  }
  &.climate {
    border-bottom-color: $color-climate;
  }
  &.plastics {
    border-bottom-color: $color-plastics;
  }
  &.health {
    border-bottom-color: $color-health;
  }
}
