.meta-box {
  color: $color-grey;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include greaterThan('sm') {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    > div {
      margin-bottom: 10px;
    }
  }

  > div > span {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}
