.swiper-pagination {
  bottom: inherit !important;
  top: 0;
  display: flex;
  // padding: 0 128px;
}

.swiper-pagination-bullet {
  background-color: $color-grey;
  cursor: pointer;

  &.swiper-pagination-bullet-active {
    background-color: $color-blue;
  }
}

.slider-inverted {
  .swiper-pagination-bullet {
    background-color: white;
    opacity: 0.2;

    &.swiper-pagination-bullet-active {
      background-color: white;
      opacity: 1;
    }
  }
}

.swiper-pagination-bullet:only-child {
  display: none;
}

@include lessThan('sm') {
  .swiper-pagination-bullet {
    display: none;
  }
}
