{% extends "base.twig" %}

{% block content %}
	<section class="section-hero-top has-hero-submenu has-hero-description">
	  <div class="background js-parallax-me" data-prlx-from-top="true" style="background-image: url({{ page_notfound_image }})"></div>
      <div class="section-hero-shade"></div>
      <div class="top-bar-wrapper-white">
        <div class="ct-container">
          <div class="top-bar">
            <div class="top-bar-title">              
              
            </div>
          </div>
        </div>
	  </div>
		<div class="ct-container anchor-bottom">
			<div class="hero-description">
				{{ page_notfound_text|raw }}

			</div>
		</div>
	</section>	
	
{% endblock %}
