{% block countries %}
    <div class="dropdown">
	<button>
	    <p>{{ current_country }}</p>
	    <span class="icon-down-arrow"></span>
	</button>
	<div class="dropdown-menu js-country-select">
	    <!-- <a class="dropdown-item" href="#">HK</a>
	    <a class="dropdown-item" href="#">TW</a>
	    <a class="dropdown-item" href="#">SK</a>
		<div id="country-select" hidden></div> -->
	</div>
    </div>
{% endblock %}
