{% block countries %}
    <div class="dropdown">
	<button>
	    <span class="dropdown__selected">{{ current_country }}</span>
	    <span class="dropdown__arrow"></span>
	</button>
	<div class="dropdown__menu js-country-select">
	    <!-- <a class="dropdown-item" href="#">HK</a>
	    <a class="dropdown-item" href="#">TW</a>
	    <a class="dropdown-item" href="#">SK</a>
		<div id="country-select" hidden></div> -->
	</div>
    </div>
{% endblock %}
