{% extends "base.twig" %}

{% block content %}
    <section class="section-hero-top" style="background-image: url({{ background_image }})">
	<div class="ct-container">
	    <div class="content">
		<div class="top-bar">
		    <a href="" class="back-button">
			<span class="icon-chevron-left"></span>
		    </a>
		    <a href="" class="button light">關注</a>
		</div>
		<div class="info-box">
		     <h1>{{ post.title|raw }}</h1>
		     <p class="subtitle">{{ custom_body_classes|default("") }}</p>
		     </div>
	    </div>
	</div>
    </section>

    {{ post.content|raw }}
{% endblock %}
