{% block navigation_bar %}
    <header>
	<div class="ct-container">
	    <div class="content">
		<div class="mobile-box">
		    <a href="">
			<span class="icon-search"></span>
		    </a>
		</div>
		<div class="left-box">
		    <a href="" class="logo" aria-label="Search">
			<span class="icon-greenpeace"></span>
		    </a>
		    <div class="dropdown">
			<button>
			    <p>HK</p>
			    <span class="icon-down-arrow"></span>
			</button>
			<div class="dropdown-menu">
			    <a class="dropdown-item" href="#">HK</a>
			    <a class="dropdown-item" href="#">TW</a>
			    <a class="dropdown-item" href="#">SK</a>
			</div>
		    </div>
		</div>
		<div class="center-box">
		    <ul class="menu">
			<li class="item">
			    <a href="">
				<span class="icon-globe"></span>
				<p>最新消息</p>
			    </a>
			</li>
			<li class="item">
			    <a href="">
				<span class="icon-people"></span>
				<p>推動改變</p>
			    </a>
			</li>
		    </ul>
		</div>
		<div class="right-box">
		    <a href="" class="search-button" aria-label="Search">
			<span class="icon-search"></span>
		    </a>
		    <a href="" class="button">有助于</a>
		</div>
	    </div>
	</div>
    </header>

    <div class="mobile-toolbar">
	<a href="">
	    <p>最新消息</p>
	    <span class="icon-globe"></span>
	</a>
	<a href="">
	    <span class="icon-home"></span>
	</a>
	<a href="">
	    <span class="icon-people"></span>
	    <p>推動改變</p>
	</a>
    </div>
{% endblock %}
