.section-people-list {
  padding: 20px 0;

  h2 {
    @include title-mid;
    color: $color-green;
  }

  @include greaterThan('sm') {
    .subtitle {
      margin-top: 10px;
    }
  }

  .mini-swiper {
    margin-top: 20px;
  }
}
