.section-history {
  padding: 20px 0;
  background: $color-green !important;
  position: relative;

  h2 {
    @include title-mid;
    position: relative;
    color: white;
    z-index: 2;

    @include greaterThan('sm') {
      text-align: left;
      width: 40%;
      margin-bottom: -100px !important;
    }
  }

  .label-swiper {
    margin-bottom: 20px;
  }

  @include greaterThan('sm') {
    .maxi-swiper-centered {
      padding-top: 15px;
    }
  }

  .maxi-swiper .swiper-slide {
    color: $color-green;

    p {
      color: $color-green;
    }
  }
}

#history-globe {
  position: relative;
  height: 310px;
  width: 320px;
  margin: 0 auto -215px;
  overflow: hidden;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='275' height='125' viewBox='0 0 275 125'%3E%3Cdefs%3E%3ClinearGradient id='fill-1-a' x1='50%25' x2='50%25' y1='3.3%25' y2='45.3%25'%3E%3Cstop offset='0%25' stop-color='%23FFF'/%3E%3Cstop offset='100%25' stop-color='%23FFF' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23fill-1-a)' fill-rule='evenodd' d='M82.9 318.2l12.5 21.2-12.5-21.2c-.4-.9 2-2.4 3.5-2.2l2.5-.8.8-5.4-.6-6.5-1.2-3.1 1.6-1.1.8-3 2.4-1.7.3-5.5-1.4-3.1-3.2-1.8-3.1-5.4-4.2-2.4-5-3-2.8-5.1-4.1-5.2v-5l-1.5-4.5-3.9-6-2.8-7-1-7.2c-.5-1.5-.8-3.1-1.2-4.6l-3.8-8c.6-5 1.5-10 2.6-14.8l1.5 4.3 2.2 3.3 1.7 1-2-4.3-1.3-5v-4.6l-.3-1.6c3.4-11.6 8.4-22.7 14.8-33l3.2-2.4 4-3.7 5.9-2.3 3.2-1.3.4 2.3H94l4.7-1.5-4.3-1.6 2.8-2.6 2.3-2.3-1-2.5c1 0 1.8-.2 2.7-.3l3 2.9 3.3-.1 2.9-.1 2.1-3.8 1.5-5.3 7-8.6-5 1.3 3.7-4.5 2.5-4-4.1 1.8-6 4.6-4.6 2.1-6.5 2.6 6-5.2 1.6-2.5c5.2-3.8 10.7-7.2 16.5-10.2 1 0 1.9.2 2.8.3l.4 3-2.3 3.9-1.8 3.3h5.2l5.5-2.9 6.4-3 5.7-2.4-2.2-1.3-.2-2.2 2.4-2.8 1.3-2.8 1.9 1.7.9-1.2 2.2.7 4 .4c-1 1.1-1.8 2.3-2.7 3.5l-1.5 1.7-3 3.5-4.8 4.2-3 1c-1.2 1-2.3 2.2-3.4 3.3l-3.2 1.7-3.4 3.4-1.7 2.7.9.9-.6 2 2 1.1 2.3-1.8 3-2 3.6-2.2 3.9-.4 4.6-1.6 2.3-1.4 2.4.5 5.9-1c.8-.4 1.5-1 2.3-1.5l2.9-3 4.1-3.8 2.3-2.6 3.2-2.9 2.5-1-1.6-3 3.2 1.6 5.7 1 5.6-.2 7-1.2 1.7-2.3 4 1 1.8-.1-.4-3 2.3-1.4 3.3-1.2 4 .1.1-1.7-.3-.3c2.5.6 5 1.2 7.5 2l-.3 1.1-2-1.1-3.7.8 1 2.9 4.7 4.7-.2 4 3.3 2.6-2.5 4c.6 0 1 .2 1.6.3l1.4 1.6-4.1 1.2-1.5 3.6-1.4 1-2.2 1.5-1.7-1.3-1.4-1-2.4-.8-3.6-.3-2-.3-1-.2-1.3-1.1h-2.2l-2.4.4-2.6.7-1.9 2.3-1.1 2.6-1.5 2-2.2 2.3-2.1 1.4-2.3 2.7-2.5 2.3-.4 2.2c0 .5 0 1.1.2 1.7l.4 1.7.8 1.3 1.2.7 2.1-1 .1-1.4 2.8-.7v1l1.4 2.4 1 1.6-.2 1v1.4c.7 0 1.4.2 2 .3l1.3-1 2-1.5-.6-1.8-.2-1.9 3-1.2-1-1.7-2.1-1.2.1-3.7 2.5-2 .7-2.3 1.1-1.8 2.7.1.4 2-2.3 1.7-.7 2.2 1.2 2.8 1 1.6 3.2-.2 1.5-1.6 3.5.8v.9l-1.4.7-2.9 1-2 .6-1 1.8.7.9-1.4.5.4 2.7 1 1.7-2.3 1.6-1.5.4-.9-.9-.7.5-1.4 1-1.6.7-.6 1.3-1.3-1.2-.8-1.3-1 1-2.9-.2-1-1.6.6-1.9.8-1.6-1.3-1.8-1.3 1.1-1.4 1.6.9 3 .1 2c-.6.1-1.1.3-1.7.6h-2.2l-1.3.9-1.2 1.9-1.5 1.3-2.7 1-.2 1.4-2 1.1-.2.8-3-.3-.3 1.3-1 .4-2.2-.8-2 1 1 1 2.9 1c0 .6.2 1.2.4 1.8l1 1-.3 1.3-.5 3.4-1.2 1.3-3 .2-4.7-1-2.9.3-1.6 2.1-2.2 3 .3 2.5-.7 2.2.8 2.4 1.3 1.4 2.5.6v2l1 .7 2.2-1h4.7l1.1-.7 2-1.4 1-1.1-.8-2.1.4-2.2 2-2.3c1-.3 2-.6 2.8-1l1.5-2.1.3-1.5 2.3-.6 2.4.7 3.8-1.4 2.8-.8 1.5.6.7 1.5 1.8 2 1.7 1.6 2.5 1.1 2.1 1.1 1.6 1.2 1 1.7-.2 1.4-.5 1 .6 1 .8-.8 1-1.4.4-.9-.5-.8-.8-.8a90 90 0 0 0 .9-1.3l1.3.8.5.8.8-.5-1.4-1.4-1.7-1.2-1.6-1.2h-1l-1.8-.6-1.2-1.4-1-2-1.5-.7-.9-1.6.3-.6-.4-1 .5-.6 1.6-.4 1.3 1 1 1.3 1.1 1.4 1.3 1 1.5.6.8 1 2.6.5 1.4 2.1-.5 1.7 1.3 1.3 1.9 1.4 2.5.4 1 1.6 3.3 1.5.6-1.3-2-1.5a393.2 393.2 0 0 0-1.5-2.8l1.6-1.7 2.1-.2h2l2-.9 1-.9-2-3.7 3.2-1.4 4-3 3 .4 2.3-2 3.6.3 3.8 1.8 2.8 1.7v2.4l-2.3 1-3 .6-3.3-1.2-3.7-.2-2.3 2-2.7.8-2.8 1.4-3.2 1.5.3 2.7 2.8 2.7 3 3.4 2.5-.6 1-1.6 1.6 1.3 3.7-.5 1.2-1.6 3.7.2-.3 2.1-.1 5.6.4 3.8 1.2.3 1 3.4-.6 2 .3 3.1 1.4 1c1 1 1.8 2.2 2.8 3.3l2.4 3.5 1.7 1 2 4.2 2 3 2.7 1 1.5 2.7 3 3.2 4 9.9 7-5.1 5.7-5.4 1.8-1.8.3-2.9 2.5-2.4 1.8-1.6.6-3.2 1.6-1.3-.9-2.8 1.3-3.4.6-2.8-2.8-2-2.2.4-1.7-1.2-1.7-4-1.2 4-1.4 2.6-2.3 1.2-1.3-.6-.1-1.7-.7-2.3-1 .7v1.9l-1.1-1.5-2-2.3-3.3-3-.5-2.7 2.4-1.4 3 3 1.2 1.7 1.6-.1 2.4 1.3h1.6l2.1-2.7 1.4-.1 1.3 2.8 5.3-1.6 3.8-2 2.5-1.6.3-.1 2.7 2.5 2.8 1 2-1.7 2.7 2.8c1 2.5 2 5 3.2 7.5l2.9 5.5 3.3 5.9 2 5.8.7-6-.2-9.3-2-3.9.9-6.4-1-7.9-.5-4.4.7-2.2a132.3 132.3 0 0 1-125.7 172c-40.5 0-78.5-18.9-103.2-49.8m233-129.1l-.6-1.6a144.7 144.7 0 0 0-3.5-8.5l-.9-2-2.3-4.7-.2-.4a138 138 0 0 0-4-7.2l-.3-.4c-1.5-2.5-3-5-4.7-7.3l-.1-.1a136.7 136.7 0 0 0-45.3-41.1l-.6-.4-7.3-3.8-.8-.3-7.5-3.4-.5-.1-8-3h-.2a136 136 0 0 0-8.4-2.4l-.3-.1c-11-2.8-22.5-4.3-34-4.3h-2.5l-1.6.1c-4.6.1-9.3.5-13.9 1.1l-2 .3-4 .6-2.6.6a138.7 138.7 0 0 0-16 4.1l-2 .7-6.2 2.3-1.4.6-5.3 2.3-.9.4-.6.3-5.6 2.8-1 .6a133.4 133.4 0 0 0-12.2 7.4l-1.4 1a137 137 0 0 0-11 8.5c-.1.3-.4.5-.6.7l-3.5 3.1-.4.4c-3.6 3.4-7 7-10 10.7l-.8.9a145 145 0 0 0-6 7.7l-1.5 2-1.8 2.8-3 4.7-1.2 2-1.8 3.3-1.2 2.3a144 144 0 0 0-4.3 9l-.9 2.1c0 .3-.2.5-.3.8-4.2 10.6-7.2 21.9-8.7 33.3l-.2 1.3c-.2 2-.5 4.1-.6 6.2l-.1 1.8-.3 5.8v7.7l.1 1.5.4 6.1.2 1.4a135 135 0 0 0 2 13.6l.3 1.4 1.4 5.8.4 1.6 1.6 5.3.7 2.1 1.6 4.6 1 2.6 1.7 4 1.4 3 .2.7 2.7 5.3.6 1 3 5.6.4.6 4 6.3A137.7 137.7 0 0 0 245 360a137.5 137.5 0 0 0 70.9-170.8' transform='translate(-49 -98)'/%3E%3C/svg%3E")
    center top / contain no-repeat;
  background: transparent;

  @include greaterThan('sm') {
    margin-top: 2em;
  }

  @include greaterThan('lg') {
    margin-top: 0;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(
      to top,
      rgba($color-green, 1) 0%,
      rgba($color-green, 1) 50%,
      rgba($color-green, 0) 100%
    );
  }
}

.glbl-marker {
  transition: opacity 100ms linear;
}

.glbl-marker.is-hidden {
  opacity: 0;
  pointer-events: none;
}
