.section-text-images {
  padding: 0 !important;
  display: flex;
  align-items: stretch;

  > .ct-container {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      margin-top: 0;
    }
  }

  h2 {
    @include title-mid;
  }

  .ct-container {
    text-align: center;
  }

  .boxes {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include greaterThan('sm') {
      flex-direction: row;
    }
  }

  .box {
    flex: 1;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    min-width: 0;
    background: white;

    &:not(.plain) {
      color: $color-green;
    }

    @include greaterThan('sm') {
      padding: 70px 0;
    }

    &:first-child {
      flex-direction: column;
      z-index: 2;
    }

    h2,
    p {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .with-images {
      h2,
      p {
        @include greaterThan('sm') {
          width: initial;
          margin-left: calc(((100vw - 960px) / 2) + 20px);
          margin-right: 80px;
        }

        @include greaterThan('lg') {
          width: initial;
          margin-left: calc(((100vw - 1200px) / 2) + 20px);
          margin-right: 120px;
        }
      }
    }

    &.dark {
      // padding: 24px 20px;
      background-color: $color-green;
      color: white;

      @include greaterThan('sm') {
        // padding: 113px 0;
      }
    }

    &.fit {
      height: 264px;
      // I don't know why, but min-height is needed or it will disappear
      min-height: 264px;
      padding: 0;

      @include greaterThan('sm') {
        height: auto;
        min-height: 0;
      }
    }
  }

  .swiper-container {
    padding: 0;
    width: 100%;
  }

  .swiper-wrapper {
    height: 100%;

    .image {
      background-size: cover;
      background-position: center;
    }
  }

  .section-text-images-swiper .swiper-pagination {
    padding: 0;
    display: flex;
    top: 13px;
  }

  .section-text-images-swiper .swiper-pagination-bullet {
    display: inline-block;
    width: auto;
    flex: 1;
    background-color: white;
    opacity: 0.3;
    height: 4px;
    border-radius: 4px;

    &:only-child {
      display: none;
    }

    &:first-child {
      margin-left: 38px;
    }

    &:last-child {
      margin-right: 38px;
    }

    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    width: 30%;
    height: auto;
    margin: 0;
    opacity: 0;
  }

  .swiper-button-next {
    left: initial;
    right: 0;
    width: 70%;
  }
}

.forests .section-text-images .boxes .box:not(.plain) {
  color: $color-forests;
  &.dark {
    background-color: $color-forests;
    color: white;
  }
}
.oceans .section-text-images .boxes .box:not(.plain) {
  color: $color-oceans;
  &.dark {
    background-color: $color-oceans;
    color: white;
  }
}
.arctic .section-text-images .boxes .box:not(.plain) {
  color: $color-arctic;
  &.dark {
    background-color: $color-arctic;
    color: white;
  }
}
.climate .section-text-images .boxes .box:not(.plain) {
  color: $color-climate;
  &.dark {
    background-color: $color-climate;
    color: white;
  }
}
.plastics .section-text-images .boxes .box:not(.plain) {
  color: $color-plastics;
  &.dark {
    background-color: $color-plastics;
    color: white;
  }
}
.health .section-text-images .boxes .box:not(.plain) {
  color: $color-health;
  &.dark {
    background-color: $color-health;
    color: white;
  }
}
