.section-link-list {
  min-height: 0 !important;
  padding: 60px 0 40px !important;
  background: $color-blue !important;
  color: white;

  + .section-link-list {
    padding-top: 0 !important;
  }

  .ct-container > * {
    max-width: 500px;
  }

  h2 {
    margin-bottom: 3px;
    font-size: 16px;
    @include greaterThan('sm') {
      font-size: 18px;
    }
  }

  h2 + p {
    margin-top: 3px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;

    @include greaterThan('sm') {
      margin-bottom: 20px;
      padding-bottom: 30px;
    }
  }

  .caption + p {
    @include greaterThan('sm') {
      margin-bottom: 20px;
    }
  }

  .link-list {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .see-more {
    line-height: 1.5;
    a {
      font-weight: normal;
    }
  }
  h2,
  .see-more {
    a {
      color: $color-green;
      text-decoration: none;
      border-bottom: 1px solid transparent !important;
      transition: border-bottom-color 140ms linear;
      opacity: 1;
      display: inline;
      &:hover,
      &:focus {
        border-bottom-color: $color-green !important;
      }
    }
  }

}
