.section-post-content {
  position: relative;
  padding-top: 15px !important;
  padding-bottom: 10px !important;

  a:visited {
    color: #336600;
  }
  
  .donation-button-box {
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    .button {
      font-weight: normal;
      width: 75%;
      height: auto;
      line-height: 1.5;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }
  }

}

.section-post-content,
.page-template-petition .outer_block_container {
  background: transparent !important;

  &.ct-container {
    @include ct-container-guardian;
  }

  .meta-box {
    font-size: 0.85rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include greaterThan('sm') {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      > div {
        margin-bottom: 0;
      }
    }
  }

  p:not(.subtitle) {
    line-height: 1.7;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.3;
  }

  h1 {
    @include greaterThan('sm') {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    margin-bottom: 20px;
  }

  ul,
  ol {
    padding-left: 20px;
    li {
      margin-bottom: 20px;
    }
  }

  h2 {
    @include title-mid;
  }

  h3,
  h4,
  h5,
  h6 {
    @include title-text;
  }

  > .meta-box + h1 + h2 {
    @include subtitle;
    margin-top: 0;
    margin-bottom: 30px;
  }

  blockquote,
  .embed-container,
  .full-width {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 60px 20px;
    background-color: $color-green;
    @include lessThan('sm') {
      > * {
        // max-width: 440px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    @include greaterThan('sm') {
      position: static;
      width: 100%;
      margin: 40px 0;
      padding: 60px 30px;
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .leader {
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 60px 0;
    background-color: $color-green;

    @include greaterThan('sm') {
      margin-top: 40px;
      margin-bottom: 40px;
      padding-left: 30px;
      padding-right: 30px;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 50%;
      margin-left: calc(-50vw - 20px);
      margin-right: -50vw;
      background-color: $color-green;
      z-index: -1;

      @include greaterThan('sm') {
        left: 0;
        right: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  blockquote,
  .leader {
    color: white;
    text-align: left;
    font-size: 18px;
  }

  img:not(.full-width) {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  img.full-width {
    display: block;
    height: auto;
    padding: 0;
    @include greaterThan('sm') {
      object-fit: cover;
      object-position: center center;
      max-height: 500px;
    }
  }

  .wp-caption {
    margin: 30px 0;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .wp-caption-text {
    line-height: 2;
    font-size: 14px;
    padding: 0.4rem 0 0.4rem 0.75rem;
    border-left: 2px solid $color-green;
    color: rgba(0, 0, 0, 0.4);
  }

  .forests & {
    blockquote,
    .leader,
    .leader::before,
    .embed-container,
    .full-width {
      background-color: $color-forests;
    }
    .wp-caption-text {
      border-color: $color-forests;
    }
  }
  .oceans & {
    blockquote,
    .leader,
    .leader::before,
    .embed-container,
    .full-width {
      background-color: $color-oceans;
    }
    .wp-caption-text {
      border-color: $color-oceans;
    }
  }
  .arctic & {
    blockquote,
    .leader,
    .leader::before,
    .embed-container,
    .full-width {
      background-color: $color-arctic;
    }
    .wp-caption-text {
      border-color: $color-arctic;
    }
  }
  .climate & {
    blockquote,
    .leader,
    .leader::before,
    .embed-container,
    .full-width {
      background-color: $color-climate;
    }
    .wp-caption-text {
      border-color: $color-climate;
    }
  }
  .plastics & {
    blockquote,
    .leader,
    .leader::before,
    .embed-container,
    .full-width {
      background-color: $color-plastics;
    }
    .wp-caption-text {
      border-color: $color-plastics;
    }
  }
  .health & {
    blockquote,
    .leader,
    .leader::before,
    .embed-container,
    .full-width {
      background-color: $color-health;
    }
    .wp-caption-text {
      border-color: $color-health;
    }
  }
}
