.section-launcher {
  padding-bottom: 0 !important;

  .launchers {
    padding-bottom: 20px;
  }

  h2 {
    text-align: center;
  }

  .action.fluid h2,
  .action.fluid p {
    text-align: left;
  }

  .action.as-card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
  }

  @include greaterThan('sm') {
    .launchers {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }

    .action.as-card {
      width: 290px;
      max-width: none;
    }
  }

  @include greaterThan('lg') {
    .action.as-card {
      width: 360px;
    }
  }
}
