.section-launcher {
  .launchers {
    padding-bottom: 20px;
  }

  h2,
  .ct-container > p {
    text-align: center;
  }

  .action.fluid h2,
  .action.fluid p {
    text-align: left;
  }

  .action.fluid .button {
      margin-top: 15px;
  }

  .action.as-card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
  }

  @include greaterThan('sm') {
    .action.as-card {
      width: 290px;
      flex: 0 0 290px;
      max-width: none;
    }


    .action.fluid {
      height: auto;
      flex-direction: row;
      justify-content: normal;

      .inner {
        display: flex;
        flex-direction: column;
        &--text {
          align-self: flex-end;
          width: 50%;
          h2,
          p {
            width: auto;
          }
        }
        &--image {
          align-self: flex-end;
          width: 50%;
          max-height: 400px;
          margin-top: -40px;
          margin-bottom: 0px;
        }
      }

      img {
        position: static;
        // bottom: 0;
        max-width: calc(100% - 180px);
        max-height: 100%;
        margin-left: auto;
        margin-right: 100px;
      }

      .button {
        margin-bottom: 50px;
      }
    }

    .maxi-swiper .swiper-slide {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include greaterThan('lg') {
    .action.as-card {
      width: 360px;
      flex: 0 0 360px;
    }
  }

  &.image-vertical-center {
    @include greaterThan('sm') {
      .action.fluid {
        .inner {
          &--text {
            align-self: center;
          }
          &--image {
            align-self: center;
            margin-bottom: -30px;
          }
        }
        img {
          // bottom: auto;
        }
      }
    }
  }

  &.layout-dark {
    background: $color-blue;
    color: white;

    .action.fluid .button {
      color: white;
    }
  }
}
