.section-latest-news {
  background-color: #eeeeee !important;

  h2 {
    @include title-mid;
    margin-bottom: 3rem;
    text-align: center;
  }

  .news-list {
    margin-bottom: 60px;

    a {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    > * {
      padding: 20px 0;
      &:first-child {
        padding-top: 0;
        border-top: none;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }

    @include greaterThan('sm') {
      width: 100%;
      display: flex;
      justify-content: center;

      > * {
        margin: 0;
        padding: 0 30px;
        border-top: none;
        border-right: 1px solid rgba(0, 0, 0, 0.2);

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
