.section-mixed-content-row {
  min-height: 0 !important;
  position: relative;
  padding: 70px 0 !important;
  overflow: hidden;

  h2 {
    @include greaterThan("sm") {
      margin-bottom: 20px;
    }
  }

  .mobile-background {
    z-index: 1;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transition: transform 100ms ease-out;
    @include lessThan("sm") {
      visibility: visible;
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transition: transform 100ms ease-out;
  }

  &.has-bg-image {
    padding: 60px 0 20px !important;

    @include greaterThan("sm") {
      padding: 100px 0 40px !important;
    }

    .content {
      position: relative;
      margin-top: -40px;
      margin-bottom: 280px;
      z-index: 2;

      @include greaterThan("sm") {
        margin-top: -30px;
        margin-bottom: 290px;
      }
    }

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 130px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
      content: "";
      z-index: 1;

      @include greaterThan("sm") {
        height: 220px;
      }
    }
  }

  &.layout-green-titles {
    .card-mini h4 {
      color: $color-green;
    }
  }

  &.layout-light {

    h4 {
      color: $color-green;
    }

    &.has-bg-image {
      .card-mini {
        h4 {
          text-shadow: 0px 0px 20px rgba(0,0,0,0.9);
        }

        color: black;
        text-shadow: 0px 0px 20px rgba(255,255,255,0.9);
      }
    }
  }

  &.layout-dark {
    background-image: linear-gradient(to bottom, $color-blue, $color-blue);
    color: white;

    h2 {
      color: white;
    }
    h4 {
      color: $color-green;
    }

    &::before {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }

    &.has-bg-image {
      .card-mini {
        color: white;
        h4 {
          color: $color-green;
          text-shadow: 0px 0px 20px rgba(0,0,0,0.9);
        }
      }
    }
  }
}

.page-template-about .section-mixed-content-row h2 {
  color: $color-green;
}
.forests .section-mixed-content-row h2 {
  color: $color-forests;
}
.oceans .section-mixed-content-row h2 {
  color: $color-oceans;
}
.arctic .section-mixed-content-row h2 {
  color: $color-arctic;
}
.climate .section-mixed-content-row h2 {
  color: $color-climate;
}
.plastics .section-mixed-content-row h2 {
  color: $color-plastics;
}
.health .section-mixed-content-row h2 {
  color: $color-health;
}

.forests .section-mixed-content-row.layout-dark {
  background-color: $color-forests;
}
.oceans .section-mixed-content-row.layout-dark {
  background-color: $color-oceans;
}
.arctic .section-mixed-content-row.layout-dark {
  background-color: $color-arctic;
}
.climate .section-mixed-content-row.layout-dark {
  background-color: $color-climate;
}
.plastics .section-mixed-content-row.layout-dark {
  background-color: $color-plastics;
}
.health .section-mixed-content-row.layout-dark {
  background-color: $color-health;
}

.forests .section-mixed-content-row,
.oceans .section-mixed-content-row,
.arctic .section-mixed-content-row,
.climate .section-mixed-content-row,
.plastics .section-mixed-content-row,
.health .section-mixed-content-row {
  &.layout-dark h2,
  &.layout-green-titles h2 {
    color: $color-green;
  }
}

.forests .section-mixed-content-row.layout-dark h2 {
  color: black;
}
