.section-choose-topics {
  padding: 15px 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);

  h2 {
    @include title-mid;
    margin-bottom: 0;

    + p {
      margin-top: 0;
      margin-bottom: 24px;
    }
  }

  @include greaterThan('sm') {
    padding: 35px 0;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;

    .tags {
      display: flex;
      max-width: 760px;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 24px;
    }

    .tag {
      margin: 7px 4px;
    }
  }
}
