.section-choose-topics {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  background: white !important;

  h2 {
    @include title-mid;
  }

  .thankyou {
    text-align: center;
    margin-top: 100px;
    p span.thankyou-subtitle {
      font-size: 24px;
      margin-bottom: 24px;
    } 
  }

  @include greaterThan('sm') {
    padding: 35px 0;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;

    .tags {
      display: flex;
      max-width: 760px;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 24px;
    }

    .tag {
      margin: 7px 4px;
    }
  }

  .tag-cloud__following {
    @include greaterThan('sm') {
      display: flex;
      justify-content: space-between;
    }
  }
}

.tag_cloud_form {
  text-align: center;
  margin-top: 40px;
  max-width: 450px;
}

.section-choose-topics .tag_cloud_form .formblock-flex {
  height: auto;
  .invalid-feedback {
    margin-top: 0;
    font-size: 12px;
    line-height: 20px;
    color: $color-red;
    font-weight: normal;
    position: absolute;
    display: none;
    padding: 0 8px;
    left: 10px;
    top: 34px;
    background-color: white;
  }

  .en__field__element {
    max-width: 400px;
  }

  .en__field__element input[type='email'].is-invalid,
  .en__field__element input[type='tel'].is-invalid,
  .en__field__element input[type='text'].is-invalid,
  .en__field__element select.is-invalid {
    border-color: $color-red !important;
    margin-bottom: 0;

    + .invalid-feedback {
      display: inline-block;
    }
  }
  .en__field--validationFailed > .en__field__error {
    display: block;
    z-index: 2;
  }

  .en__field--validationFailed .invalid-feedback {
    display: none !important;
  }
  .en__field__element input[type='radio'].is-invalid,
  .en__field__element input[type='checkbox'].is-invalid {
    margin-top: 30px;

    + .invalid-feedback {
      display: inline-block;
      top: 4px;
      left: 0;
      padding-left: 0;
    }
  }

  .en__field__element.en__field__element--select {
    border: none;
    margin-bottom: 20px;
  }
}
