.section-grid-images {
  min-height: auto !important;
  padding: 0 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  .grid-box {
  	border: 0;
  	background: center no-repeat;
  	background-size: cover;
	flex: 0 0 percentage(1/3);
	padding-bottom: percentage(1/3);
	@include greaterThan('sm') {
		flex: 0 0 percentage(1/6);
		padding-bottom: percentage(1/6);
	}
  }
}
