.section-projects {
  &.dark {
    background: $color-blue;
  }

  .swiper-container [class^='swiper-button-'] {
    margin-top: -70px;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: -16px;
  }

  .projects-list {
    [class^='swiper-button-'] {
      display: none;
    }

    .swiper-wrapper {
      flex-wrap: wrap;
    }

    .swiper-slide {
      width: auto;
      margin-bottom: 40px;

      @include greaterThan('sm') {
        width: 50%;
      }

      @include greaterThan('lg') {
        width: 33%;
      }
    }
  }

  &.has-projects-list {
    .see-more {
      display: none;
    }
  }
}

.section-projects-following {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000;
  margin-bottom: 50px;

  .posts {
    margin-bottom: 20px;
  }
}
