.section-geography-set {
  margin-top: 80px;
  margin-bottom: 50px;
  @include greaterThan('sm') {
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .ct-container {
    &--thin {
      @include ct-container-version-b;
    }
  }

  .content {
    &--title {
      .title {
        @include title-text-version-b;
        @include title-border-version-b;
      }
      .desc {
        @include text-version-b;
        @include margin-right-version-b;
        @include margin-left-version-b;
        @include greaterThan('sm') {
          max-width: 420px;
        }
      }
    }
    &--desc {
      @include greaterThan('sm') {
        @include margin-left-version-b;
        display: flex;
      }
      .desc p {
        @include text-version-b;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    &__inner {
      &--1 {
        @include greaterThan('sm') {
          $content_margin: (960 / 2) - 26 - 6px;
          margin-left: calc(50% - #{$content_margin});
        }
        @include greaterThan('lg') {
          margin-left: 0;
        }
      }
      &--2 {
        @include greaterThan('sm') {
          margin-left: 30px;
          flex: 1 0 450px;
        }
        @include greaterThan('lg') {
          margin-left: 80px;
          flex: 1 0 480px;
        }
        .image {
          background: url(../images/world-map.png) no-repeat center;
          background-size: contain;
          padding-bottom: percentage(240 / 484);
        }
      }
    }
  }

}
